:root {
  --tile-size: 2400px;
  --light-tile: #e3dbcf;
  --dark-tile: #639bb5;
  --bg-color: rgb(70, 67, 67);
  --highlight: rgba(0, 0, 0, 0.1);
  --check: #feec48;
}

@media all and (max-width: 450px) {
  :root {
    --tile-size: 500px;
  }
}
