body {
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 67, 67);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(46, 44, 44);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #e3dbcf;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #639bb5;
}

button {
  border: none;
  background-color: #639bb5;
  padding: 12px 30px;
  border-radius: 30px;
  color: #e3dbcf;
  font-size: bold;
  font-size: 15px;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
h2 {
  color: #e3dbcf;
}

.moveBox {
  margin-left: 10px;
  padding-left: 5px;
  width: 150px;
  height: 52vh;
  overflow-y: auto;

  background-color: rgb(46, 44, 44);
}
.crazelogo {
  display: flex;
  height: 60px;
}

.chessBoard {
  width: 70vw;
  height: 70vw;
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 12.5%;
  height: 12.5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.white {
  background-color: #e3dbcf;
}

.black {
  background-color: #639bb5;
}

.coordinate {
  height: auto;
  display: flex;
  bottom: 4%;
  left: 4%;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rank {
  top: 4%;
  right: 4%;
  left: auto;
}

.whiteText {
  color: #e3dbcf;
}

.blackText {
  color: #639bb5;
}

.piece {
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.piece img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  .chessBoard {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 600px) {
  .coordinate {
    font-size: 8px;
  }
}

.promotionOption {
  border-radius: 50%;
  background-color: darkgray;
  transition: transform 0.2s;
  position: absolute;
  z-index: 1000;
}

.promotionOption:hover {
  cursor: pointer;
  border-radius: 0%;
  background-color: #539b0c;
  width: 100%;
}

.promotionOption img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.contianer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

#evalBar {
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 70vw;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 3px;
}

#evalBar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
  border-radius: 3px;
}

#evalBar .blackBar {
  width: 100%;
  height: 35%;
  background-color: #666;
  transition: height 1s;
  position: absolute;
  top: 0;
  border-radius: 3px;
}

.zero {
  width: 100%;
  opacity: 1;
  border-bottom: 7px solid rgba(214, 79, 0, 0.4);
  position: absolute;
  top: 0;
  height: 50%;
}

.evalNum {
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 95%;
  height: 50%;
  font-size: 0.5rem;
  font-weight: bolder;
  text-align: center;
  color: #639bb5;
}

.turn {
  color: #e3dbcf;
}

.moveList {
  color: #e3dbcf;
}

@media (min-width: 600px) {
  #evalBar {
    height: 500px;
  }
}
